* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Georgia, Serif;
}


html,
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
}

.imageholder {
  width: 100vw;
  justify-content: space-around;
}

.img {
  width: calc(96vw / 3);
  height: calc((99vh - 160px)/2);
}


.genholder {
  width: 100vw;
  color: white;
  font-size: 30px;
  text-align: center;
}

.header {
  height: 60px;
}

.footer {
  height: 100px;
  padding: 15px 0;
}
