* {
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.imageholder {
  width: 100%;
}

.img {
  height: 300px;
  width: 33%;
}

.genholder {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.header {
  height: 60px;
}

.footer {
  font-size: 40px;
  padding: 35px 0;
}
